<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mongleandroid_release">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WritingThemeActivity"></activity>
        <activity android:name=".activity.WritingSentenceActivity" />
        <activity android:name=".activity.JoinStep1PolicyActivity" />
        <activity android:name=".activity.JoinStep2Activity" />
        <activity android:name=".activity.JoinStep1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>